body{
    background-color:#757575;
    font-family: 'Amatic SC',cursive;
    margin: 0;
}

h1
h2
h3
h4
h5
h6{
    font-family: 'Kalam',cursive;
    font-weight: normal;
}

h1{
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: 5px;
    color:white;
    /* top right bottom left */
    margin: 100px 20px 70px 20px;
}

h1 strong{
    color: #FC2B1F;
}

figure{
    margin:0; 
}

ol,
ul{
    margin:0;
    padding:0;
    list-style: none;

    /* border-color: #000000;
    border-radius: 10px;
    border-style: solid; */
}

.header{
    background-color: #252525;
    /* border-color: #000000;
    border-radius: 10px;
    border-style: solid; */
    height: 130px;
    color:white;
    display:flex;
    justify-content: space-between;
    /* background-image: url('images/Aldhair Vera Logo.png'); */
    /* background-size: 15% 100%;
    background-repeat: no-repeat;
    background-position-x: left; 
    background-position-y: center; */
}

.menu{
    height: inherit;    
}

.header ol{
    display:flex;
    height: inherit;
    align-items: center;
}

.header-logo{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20%;
}

.navBar{
    display:flex;

    height: 100px;
    width: 100%;
    flex-wrap:wrap;
    justify-content: flex-end;
    align-content: center;
}

.link{
    color:white;
    text-decoration: none;
    width: 100px;
    height: 50px;
    flex-shrink: 0;
    font-size: 40px;
    margin: 10px;
    padding: 10px;
}

.hero
{
    height:500px;
    width:100%;
    background-color: #292929e0;
    
    /* width:99.6%;
    border-color: #121212;
    border-radius: 10px;
    border-style: solid; */
    
    
    /* width height */
    /* background-size: 20% 90%; */
    /*
    background-image: url('images/Aldhair Vera.jpg');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center; */
 
    display: flex;
    align-content: center;
    justify-content: center;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
}

.hero-description{
    /* color:#252525; */
    color:white;
    flex-shrink: 0;
}

.hero-image-container{
    /* flex-shrink: 0; */
    
    display: flex;
    height: inherit;
    width: inherit;

    /* width: 100%; */
    justify-content:flex-end;
    /* align-content: center; */

    /* border-color: #121212;
    border-radius: 10px;
    border-style: solid; */
}

.hero-image{
    flex-shrink: 0;

    /* width: 100%;
    height: 100%; */

    width: 350px;
    height: 350px;

    margin-right: 25px;
    margin-top: 75px;
    /*margin-bottom: 5%; */
    border-color: #121212;
    border-radius: 10px;
    border-style: solid;
}

.portfolio{
    background-color: #f0f0f0;
    width: 99.65%;
    border-color: #000000;
    /* border-width: 1px; */
    border-radius: 10px;
    border-style: solid;

    /* margin-top: 10px;
    margin-bottom: 10px; */
}

.portfolio-title{
    margin:10px;
    padding:20px;
    font-size: 50px;
    text-align: center;
}

.project-set{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-content: center;
}

.project{
    /* size type style */
    /* border-top: 10px solid red;
    border-bottom: 10px solid red;
    border-left: 10px solid red;
    border-right: 10px solid red; */
    
    /* border-width: 1px; */
    background-color: white;
    border-color: rgb(150, 150, 150);
    border-radius: 10px;
    border-style: solid;
    
    margin:10px;
    /* margin-bottom: 30px; */
    padding:10px;
    display: block;
    /* border-top-left-radius: 50px; */
}

.project-description{
    font-family: Kalam;
}

.project-title{
    font-size: 40px;
}

.project-course{
    font-size: 25px;
}

.project-date{
    font-size: 30px;
}

.project-Details{
    width:500px;
    margin: 10px 20px;
    font-size: 25px;
}

.project-image-container{
    display: flex;
    justify-content: center;

    background-color: #252525;

    margin:10px;
    padding:20px;

    border-color: #000000;
    border-radius: 10px;
    border-style: solid;
}

#lazy-love{
    width:200px;
    height: 350px;
}

.events{
    width: 99.65%;
    background-color: #f0f0f0;

    border-color: #000000;
    border-radius: 10px;
    border-style: solid;
    
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
}

.event-set{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-content: center;
}

.event{
    display: flex;
    flex-direction: column;

    justify-content: space-around;

    padding:10px;
    /* width:25%; */
    margin:50px;
    margin-bottom: 30px;

    width: 400px;
    height: 600px;



    background-color: white;
    border-color: #000000;
    border-radius: 10px;
    border-style: solid;
}

.event-title{
    margin: 20px;
    font-size: 50px;
    text-align: center;
}

.event-image-container{
    display: flex;
    justify-content: center;

    background-color: #363636;
    margin:10px;
    padding:20px;

    border-color: #000000;
    border-radius: 10px;
    border-style: solid;
}

.event ol{
    margin-left: 15px;
    padding:15px;
    list-style: decimal;
}

.event-image{
    width: 220px;
    height: 220px;
    
    /* width: 75% ;
    height: 45%; */
}

.event-image-Inart{
    width: 120px;
    height: 220px;
}

.event-subtitle{
    margin: 10px;
    font-size: 35px;
}

.event-position{
    margin: 10px;
    font-size: 30px;
}

.event-description{
    margin: 10px;
    font-size: 20px;
}

.event-url{
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
    color:red;
    font-size: 25px;
}

.event-elements{
    font-size: 25px;
}
/* .form-email{

} */

.contact{
    width: 99.65%;
    background-color: #f0f0f0;

    border-color: #000000;
    border-radius: 10px;
    border-style: solid;

    /* margin-top: 10px;
    margin-bottom: 10px; */
}

.contact-title{
    margin: 15px;
    font-size: 50px;
}

.contact-mail{
    margin: 15px;
    width: 250px;
    height: 25px;
    font-family: 'Kalam',cursive;
}

.contact-button{
    margin:15px;
    width: 100px;
    height: 30px;
    font-family: 'Kalam';
}

.footer{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    justify-content: center;

    background-color: #252525;
    color:white;
    font-size: 25px;
    width: 99.65%;
    height: 100px;

    border-color: #000000;
    border-radius: 10px;
    border-style: solid;

    /* margin-top: 10px; */
}